@model DTOs.DTOs_Pedido.DTOPedido

@{
    ViewData["Title"] = "Detalles del Pedido";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-between mx-auto" role="alert" style="max-width: 500px; margin-top: 20px;">
        <div class="mx-3">
            @TempData["SuccessMessage"]
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="text-center">Detalles del Pedido</h2>
        </div>
        <div class="card-body">
            <h4>Información del Pedido:</h4>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">ID del Pedido:</dt>
                        <dd class="col-sm-8">@Model.Id</dd>
                        <dt class="col-sm-4">Fecha de Pedido:</dt>
                        <dd class="col-sm-8">@Model.FechaPedido.ToShortDateString()</dd>
                        <dt class="col-sm-4">Fecha de Entrega:</dt>
                        <dd class="col-sm-8">@Model.FechaEntrega.ToShortDateString()</dd>
                    </dl>
                </div>
            </div>
            @if (Model.PrecioFinal != null)
            {
                <div class="form-group">
                    <label>Precio Final:</label>
                    <!-- Utilizamos un div en lugar de un input para mayor flexibilidad en estilos -->
                    <div class="precio-final">
                        
                        <span class="precio-valor">@Model.PrecioFinal</span>
                        <span class="precio-moneda">Pesos Uruguayos</span>
                    </div>
                </div>
            }
            <div class="mt-3">
                
                <a asp-action="Index" class="btn btn-secondary me-2">Volver</a> 
                
            </div>
        </div>
    </div>
</div>
<style>
    .precio-final {
        display: flex;
        align-items: center;
    }

    .precio-valor {
        font-size: 1.2em; /* Tamaño de fuente más grande */
        font-weight: bold; /* Texto en negrita */
        margin-right: 5px; /* Espacio entre el valor y la moneda */
    }

    .precio-moneda {
        font-size: 0.9em; /* Tamaño de fuente más pequeño para la moneda */
        color: #777; /* Color de texto más suave para la moneda */
    }
</style>
